<div class="container">
      
      <div class="blog-header">
        <h1 class="blog-post-title">Second factor</h1>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <p class="blog-post-meta">
              Trying to authenticate as
              <strong>{{email}}</strong>
            </p>
            <p>Use the Smartphone Authenticator: {{devname}}'s App to get the pin code</p>
            <div class="row">
                <img src="data:image/png;base64,{{qr}}"/>
            </div>
            <p>Don't worry, the system will <strong>only register your device</strong> as a second factor of authentication <strong>once you've answerd:</strong></p>
            <p id="timer-text">Hurry you only have <strong id="timer">60</strong> seconds!</p>
            <script type="text/javascript">
                var el = document.getElementById("timer"),
                    secs = 60;

                function countDown() {
                    if (secs) {
                        setTimeout(countDown, 1000);
                    }
                    el.innerHTML = secs;
                    secs -= 1;
                    if(secs == 0){
                        document.getElementById("timer-text").innerHTML = "You're out of time. Please refresh the page to generate a new key!";
                    }
                }

                countDown();
            </script>
            <form class="form-inline" action="/second-factor-pass" method="post">
                <div class="form-group">
                    <label for="answer" class="sr-only">Answer</label>
                    <input type="text" class="form-control" name="answer" value="{{answer}}" id="answer" placeholder="Code from device">
                    <input type="hidden" name="tokenid" value="{{tokenid}}"/>
                    <!--<input type="hidden" name="key" value={{!key}}/>-->
                </div>
                <button type="submit" class="btn btn-primary">Sign me in!</button>
            </form>
        

            
          </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->


      </div><!-- /.row -->

    </div><!-- /.container -->